/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 5, 2018, 12:25:34 PM
    Author     : alisaelizarova
*/

    @font-face {
        font-family: 'RobotoSlab';
        src: url('RobotoSlab-Thin.ttf');
    }

    #basic{
        -fx-background-color: #585858; 
        -fx-background-size: 385 770;
        -fx-background-position: center center;
        -fx-spacing: 10;
        -fx-alignment: center;
    }
    #button {
        -fx-background-color:#ffffff;
        -fx-font-family: "Helvetica";
        -fx-background-radius: 0;
        -fx-padding: 10;
        -fx-pref-width: 150px;
    }
    #button:hover {
        -fx-background-color:#f7f3f3;
    }
    #label {
        -fx-text-fill:#ffffff;
        -fx-font-family: "Helvetica";
    }
    #textfield {
        -fx-background-radius: 0;
        -fx-font-family: "Helvetica";
    }
    #scoreLabel {
        -fx-font-family: "Helvetica";
        -fx-text-fill:#ffffff;
        -fx-background-color: #585858;
        -fx-padding: 3;
    }
    #title {
        -fx-text-fill:#ffffff;
        -fx-font-family: "Helvetica";
        -fx-font-size: 50;
        -fx-text-alignment:center;
    }
    #insertInformation {
        -fx-alignment: center;
        -fx-spacing: 20;
        -fx-padding: 15;
    }
    #insertInformationLabel {
        -fx-text-fill: #ffffff;
        -fx-font-family: "Helvetica";
        -fx-pref-width: 100;
    }
    #radiobutton {
        -fx-text-fill: #ffffff;
        -fx-padding: 4px;
        -fx-pref-width: 100px;
    }

